
.body{
    margin: 0;
}


.main_pic{
    display: flex;
    flex-direction: column;
    background: rgba(15, 14, 14, 0.891);
    border-radius: 3px;
    width: 500px;
    height: 750px;
    padding: 100px 50px 40px;
    overflow-x: hidden;
    font-family: 'Basier Circle Mono', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(30, 28, 28, 0.859);
}



.main_titile{
    font-size: 45px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.comment_detail{
    
    font-size: 50px;
    color: white;
    margin-top: 30px;

}

.detail_pic{
    font-size: 20px;
    color:rgb(204, 204, 209);
    margin-top: 30px;

    padding: 20px;

}
section{
    height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg);

}
section:before{
    content: '';
    background: linear-gradient(to right, black,transparent);
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
}


