a.logo(href='https://www.netflix.com/' target='_blank')
  img(src='https://bit.ly/2VdIFUK')
.login
  h1.login__title Sign In
  .login__group
    input.login__group__input(type='text' required='true')
    label.login__group__label Email or phone number
  .login__group
    input.login__group__input(type='password' required='true')
    label.login__group__label Password
  button.login__sign-in(type='button') Sign In
  .login__secondary-cta
    a.login__secondary-cta__text(href='#') Remember me
    a.login__secondary-cta__text.login__secondary-cta__text--need-help(href='#') Need help?